@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --accent-color: #28a745;
  --body-bg: #ffffff;
  --text-color: #212529;
  --link-color: #007bff;
}

nav a{
  font-family: 'Playfair Display';
  font-size: small;
}

h1 {
    color: #333;
    background-color: #7fb1e7;
}

p article {
  color: white;
  background-color: #212529;
  font-family: 'Briem Hand';
}

img article {
  right: 50%;
}

.social-media-links a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.hero {
  position: relative;
  width: 100%;
  max-width: 600px; 
  margin: 0 auto; 
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 1px;
  left: 30%;
  background-color: #236cb9ad;
  padding: 5px;
}

.hero article {
  position: absolute;
  bottom: 100px;
  background-color: #52555894;
  padding: 10px;
}

.hero article img {
  width: 70px;
  float: right;
  margin-left: 5px;
}

.hero article p {
  line-height: 1;
  color: #0c0a0a;
  margin: 0;
}